@model IEnumerable<PaginaNueva.Models.Persona>
<div class="alerts-ajax alert hidden" role="alert">
    <center>
        <h4></h4>
    </center>
</div>
@{
    ViewBag.Title = "Index";
}

@Html.Partial("_List")


<script>
    $(document).ready(function () {
        $.ajaxPrefilter(function (options, originalOptions, jqXHR) { options.async = true; });
    });
</script>